<div class="modal fade" bsModal #editorModal="bs-modal" (onHidden)="onEditorModalHidden()" [config]="{backdrop: 'static'}" tabindex="-1">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title pull-left caption-subject bold uppercase font-green">
          <i class="fa fa-plus" *ngIf="isNew"></i> <i class="fa fa-pencil" *ngIf="!isNew"></i> {{isNew ? 'Thêm mới' : 'Chỉnh sửa'}}
        </h4>
        <button type="button" class="close pull-right btn-close-modal" title="Close" (click)="editorModal.hide()">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="Editform">
          <form *ngIf="formResetToggle" [attr.autocomplete]="isGeneralEditor ? NaN : null" class="form-horizontal" name="QuocGiaInfoForm" #f="ngForm" novalidate (ngSubmit)="f.form.valid ? save() :
          (!tenQuocGia.valid);
(!kyHieu.valid);
(!viTriHieuThi.valid);
(!ngayTao.valid);
(!nguoiTao.valid);
(!ngaySua.valid);
(!nguoiSua.valid);
">
<div class="form-group has-feedback form-md-line-input">
<label class="control-label col-md-2" for="tenQuocGia-{{uniqueId}}">TenQuocGia</label>
<div class="col-md-10" [ngClass]="{'has-success': f.submitted && tenQuocGia.valid, 'has-error' : f.submitted && !tenQuocGia.valid}">
<input autofocus type="text" class="form-control" name="tenQuocGia" [(ngModel)]="QuocGiaEdit.tenQuocGia" #tenQuocGia="ngModel" required placeholder="Nhập TenQuocGia"/>
<span *ngIf="showValidationErrors && f.submitted" class="glyphicon form-control-feedback" [ngClass]="{'glyphicon-ok ': tenQuocGia.valid, 'glyphicon-remove' : !tenQuocGia.valid }"></span>
<span *ngIf="showValidationErrors && f.submitted && !tenQuocGia.valid" class="errorMessage">
TenQuocGia không được để trống
</span></div></div><div class="clearfix"></div>
<div class="form-group has-feedback form-md-line-input">
<label class="control-label col-md-2" for="kyHieu-{{uniqueId}}">KyHieu</label>
<div class="col-md-10" [ngClass]="{'has-success': f.submitted && kyHieu.valid, 'has-error' : f.submitted && !kyHieu.valid}">
<input autofocus type="text" class="form-control" name="kyHieu" [(ngModel)]="QuocGiaEdit.kyHieu" #kyHieu="ngModel" required placeholder="Nhập KyHieu"/>
<span *ngIf="showValidationErrors && f.submitted" class="glyphicon form-control-feedback" [ngClass]="{'glyphicon-ok ': kyHieu.valid, 'glyphicon-remove' : !kyHieu.valid }"></span>
<span *ngIf="showValidationErrors && f.submitted && !kyHieu.valid" class="errorMessage">
KyHieu không được để trống
</span></div></div><div class="clearfix"></div>
<div class="form-group has-feedback form-md-line-input">
<label class="control-label col-md-2" for="viTriHieuThi-{{uniqueId}}">ViTriHieuThi</label>
<div class="col-md-10" [ngClass]="{'has-success': f.submitted && viTriHieuThi.valid, 'has-error' : f.submitted && !viTriHieuThi.valid}">
<input autofocus type="text" class="form-control" name="viTriHieuThi" [(ngModel)]="QuocGiaEdit.viTriHieuThi" #viTriHieuThi="ngModel" required placeholder="Nhập ViTriHieuThi"/>
<span *ngIf="showValidationErrors && f.submitted" class="glyphicon form-control-feedback" [ngClass]="{'glyphicon-ok ': viTriHieuThi.valid, 'glyphicon-remove' : !viTriHieuThi.valid }"></span>
<span *ngIf="showValidationErrors && f.submitted && !viTriHieuThi.valid" class="errorMessage">
ViTriHieuThi không được để trống
</span></div></div><div class="clearfix"></div>
<div class="form-group has-feedback form-md-line-input">
<label class="control-label col-md-2" for="ngayTao-{{uniqueId}}">NgayTao</label>
<div class="col-md-10" [ngClass]="{'has-success': f.submitted && ngayTao.valid, 'has-error' : f.submitted && !ngayTao.valid}">
<input autofocus type="text" class="form-control" name="ngayTao" [(ngModel)]="QuocGiaEdit.ngayTao" #ngayTao="ngModel" required placeholder="Nhập NgayTao"/>
<span *ngIf="showValidationErrors && f.submitted" class="glyphicon form-control-feedback" [ngClass]="{'glyphicon-ok ': ngayTao.valid, 'glyphicon-remove' : !ngayTao.valid }"></span>
<span *ngIf="showValidationErrors && f.submitted && !ngayTao.valid" class="errorMessage">
NgayTao không được để trống
</span></div></div><div class="clearfix"></div>
<div class="form-group has-feedback form-md-line-input">
<label class="control-label col-md-2" for="nguoiTao-{{uniqueId}}">NguoiTao</label>
<div class="col-md-10" [ngClass]="{'has-success': f.submitted && nguoiTao.valid, 'has-error' : f.submitted && !nguoiTao.valid}">
<input autofocus type="text" class="form-control" name="nguoiTao" [(ngModel)]="QuocGiaEdit.nguoiTao" #nguoiTao="ngModel" required placeholder="Nhập NguoiTao"/>
<span *ngIf="showValidationErrors && f.submitted" class="glyphicon form-control-feedback" [ngClass]="{'glyphicon-ok ': nguoiTao.valid, 'glyphicon-remove' : !nguoiTao.valid }"></span>
<span *ngIf="showValidationErrors && f.submitted && !nguoiTao.valid" class="errorMessage">
NguoiTao không được để trống
</span></div></div><div class="clearfix"></div>
<div class="form-group has-feedback form-md-line-input">
<label class="control-label col-md-2" for="ngaySua-{{uniqueId}}">NgaySua</label>
<div class="col-md-10" [ngClass]="{'has-success': f.submitted && ngaySua.valid, 'has-error' : f.submitted && !ngaySua.valid}">
<input autofocus type="text" class="form-control" name="ngaySua" [(ngModel)]="QuocGiaEdit.ngaySua" #ngaySua="ngModel" required placeholder="Nhập NgaySua"/>
<span *ngIf="showValidationErrors && f.submitted" class="glyphicon form-control-feedback" [ngClass]="{'glyphicon-ok ': ngaySua.valid, 'glyphicon-remove' : !ngaySua.valid }"></span>
<span *ngIf="showValidationErrors && f.submitted && !ngaySua.valid" class="errorMessage">
NgaySua không được để trống
</span></div></div><div class="clearfix"></div>
<div class="form-group has-feedback form-md-line-input">
<label class="control-label col-md-2" for="nguoiSua-{{uniqueId}}">NguoiSua</label>
<div class="col-md-10" [ngClass]="{'has-success': f.submitted && nguoiSua.valid, 'has-error' : f.submitted && !nguoiSua.valid}">
<input autofocus type="text" class="form-control" name="nguoiSua" [(ngModel)]="QuocGiaEdit.nguoiSua" #nguoiSua="ngModel" required placeholder="Nhập NguoiSua"/>
<span *ngIf="showValidationErrors && f.submitted" class="glyphicon form-control-feedback" [ngClass]="{'glyphicon-ok ': nguoiSua.valid, 'glyphicon-remove' : !nguoiSua.valid }"></span>
<span *ngIf="showValidationErrors && f.submitted && !nguoiSua.valid" class="errorMessage">
NguoiSua không được để trống
</span></div></div><div class="clearfix"></div>
            <div class="actionBtn-form-group">
              <div class="">
                <div class="pull-right btnF">
                  <button *ngIf="!isEditMode && isGeneralEditor" type="button" (click)="close()" class="btn btn-default"><i class='fa fa-close'></i> Đóng</button>
                  <button *ngIf="!isEditMode && !isGeneralEditor" type="button" (click)="edit()" class="btn btn-default"><i class='fa fa-edit'></i> Lưu lại</button>
                  <button *ngIf="isEditMode" type="button" (click)="cancel()" class="btn btn-default" [disabled]="isSaving"><i class='fa fa-arrow-circle-o-left'></i> Hủy bỏ</button>
                  <button *ngIf="isEditMode" type="submit" class="btn btn-primary green" [disabled]="isSaving">
                    <i *ngIf="!isSaving" class='fa fa-floppy-o'></i><i *ngIf="isSaving" class='fa fa-circle-o-notch fa-spin'></i> Lưu lại
                  </button>
                </div>
              </div>
            </div>
            <div class="clearfix"></div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>