<div class="container">
    <section class="content">
        <!-- /.row start -->
        <div class="row home_dash_box">
            <!-- col start -->
            <div class="col-lg-4 col-xs-6 itemCate">
                <a class="small-box bg-aqua" routerLink="/bcdanhgia">
                    <div class="icon"> <img [src]="icon2" alt="logo" width="80" height="80"> </div>
                    <div class="inner">
                        <h3>
                            2.1 Báo cáo đánh giá hiện vật
                        </h3>
                    </div>
                </a>
            </div>
            <!-- ./col end -->
            <!-- col start -->
            <div class="col-lg-4 col-xs-6 itemCate">
                <a class="small-box bg-aqua" routerLink="/bcchude">
                    <div class="icon"> <img [src]="icon2" alt="logo" width="80" height="80"> </div>
                    <div class="inner">
                        <h3>
                            2.2 Báo cáo chủ đề
                        </h3>
                    </div>
                </a>
            </div>
            <!-- ./col end -->
            <!-- col start -->
            <div class="col-lg-4 col-xs-6 itemCate">
                <a class="small-box bg-aqua" routerLink="/bc23">
                    <div class="icon"> <img [src]="icon2" alt="logo" width="80" height="80"> </div>
                    <div class="inner">
                        <h3>
                            2.3 Danh sách theo Tên hiện vật
                        </h3>
                    </div>
                </a>
            </div>
            <!-- ./col end -->
            <!-- col start -->
            <div class="col-lg-4 col-xs-6 itemCate">
                <a class="small-box bg-aqua" routerLink="/bc24">
                    <div class="icon"> <img [src]="icon2" alt="logo" width="80" height="80"> </div>
                    <div class="inner">
                        <h3>
                            2.4 Danh sách theo Số hiện vật
                        </h3>
                    </div>
                </a>
            </div>
            <!-- ./col end -->
            <!-- col start -->
            <div class="col-lg-4 col-xs-6 itemCate">
                <a class="small-box bg-aqua" routerLink="/bc25">
                    <div class="icon"> <img [src]="icon2" alt="logo" width="80" height="80"> </div>
                    <div class="inner">
                        <h3>
                            2.5 Danh sách theo Nguồn gốc sưu tầm
                        </h3>
                    </div>
                </a>
            </div>
            <!-- ./col end -->
            <!-- col start -->
            <div class="col-lg-4 col-xs-6 itemCate">
                <a class="small-box bg-aqua" routerLink="/bc26">
                    <div class="icon"> <img [src]="icon2" alt="logo" width="80" height="80"> </div>
                    <div class="inner">
                        <h3>
                            2.6 Danh sách theo Thời gian đăng ký
                        </h3>
                    </div>
                </a>
            </div>
            <!-- ./col end -->
            <!-- col start -->
            <div class="col-lg-4 col-xs-6 itemCate">
                <a class="small-box bg-aqua" routerLink="/bc27">
                    <div class="icon"> <img [src]="icon2" alt="logo" width="80" height="80"> </div>
                    <div class="inner">
                        <h3>
                            2.7 Danh sách theo Thời kỳ/Niên đại
                        </h3>
                    </div>
                </a>
            </div>
            <!-- ./col end -->
            <!-- col start -->
            <div class="col-lg-4 col-xs-6 itemCate">
                <a class="small-box bg-aqua" routerLink="/bc28">
                    <div class="icon"> <img [src]="icon2" alt="logo" width="80" height="80"> </div>
                    <div class="inner">
                        <h3>
                            2.8 Danh sách theo Loại hiện vật
                        </h3>
                    </div>
                </a>
            </div>
            <!-- ./col end -->
            <!-- col start -->
            <div class="col-lg-4 col-xs-6 itemCate">
                <a class="small-box bg-aqua" routerLink="/bc29">
                    <div class="icon"> <img [src]="icon2" alt="logo" width="80" height="80"> </div>
                    <div class="inner">
                        <h3>
                            2.9 Danh sách theo Chất liệu
                        </h3>
                    </div>
                </a>
            </div>
            <!-- ./col end -->
            <!-- col start -->
            <div class="col-lg-4 col-xs-6 itemCate">
                <a class="small-box bg-aqua" routerLink="/bc210">
                    <div class="icon"> <img [src]="icon2" alt="logo" width="80" height="80"> </div>
                    <div class="inner">
                        <h3>
                            2.10 Danh sách theo Kích thước
                        </h3>
                    </div>
                </a>
            </div>
            <!-- ./col end -->
            <!-- col start -->
            <div class="col-lg-4 col-xs-6 itemCate">
                <a class="small-box bg-aqua" routerLink="/bc211">
                    <div class="icon"> <img [src]="icon2" alt="logo" width="80" height="80"> </div>
                    <div class="inner">
                        <h3>
                            2.11 Danh sách theo Trọng lượng
                        </h3>
                    </div>
                </a>
            </div>
            <!-- ./col end -->
            <!-- col start -->
            <div class="col-lg-4 col-xs-6 itemCate">
                <a class="small-box bg-aqua" routerLink="/bc212">
                    <div class="icon"> <img [src]="icon2" alt="logo" width="80" height="80"> </div>
                    <div class="inner">
                        <h3>
                            2.12 Danh sách theo Tình trạng bảo quản phòng ngừa/bảo quản trị liệu/tu sửa
                        </h3>
                    </div>
                </a>
            </div>
            <!-- ./col end -->
            <!-- col start -->
            <div class="col-lg-4 col-xs-6 itemCate">
                <a class="small-box bg-aqua" routerLink="/bc213">
                    <div class="icon"> <img [src]="icon2" alt="logo" width="80" height="80"> </div>
                    <div class="inner">
                        <h3>
                            2.13 Danh sách theo Lưu giữ hiện tại
                        </h3>
                    </div>
                </a>
            </div>
            <!-- ./col end -->
            <!-- col start -->
            <div class="col-lg-4 col-xs-6 itemCate">
                <a class="small-box bg-aqua" routerLink="/bc214">
                    <div class="icon"> <img [src]="icon2" alt="logo" width="80" height="80"> </div>
                    <div class="inner">
                        <h3>
                            2.14 Lịch sử nơi lưu giữ hiện vật
                        </h3>
                    </div>
                </a>
            </div>
            <!-- ./col end -->
            <!-- col start -->
            <div class="col-lg-4 col-xs-6 itemCate">
                <a class="small-box bg-aqua" routerLink="/bc215">
                    <div class="icon"> <img [src]="icon2" alt="logo" width="80" height="80"> </div>
                    <div class="inner">
                        <h3>
                            2.15 Danh sách theo Chế độ bảo mật (lưu ý quyền khai thác)
                        </h3>
                    </div>
                </a>
            </div>
            <!-- ./col end -->
            <!-- col start -->
            <div class="col-lg-4 col-xs-6 itemCate">
                <a class="small-box bg-aqua" routerLink="/bc216">
                    <div class="icon"> <img [src]="icon2" alt="logo" width="80" height="80"> </div>
                    <div class="inner">
                        <h3>
                            2.16 Danh sách theo Bản quyền
                        </h3>
                    </div>
                </a>
            </div>
            <!-- ./col end -->
            <!-- col start -->
            <div class="col-lg-4 col-xs-6 itemCate">
                <a class="small-box bg-aqua" routerLink="/bc217">
                    <div class="icon"> <img [src]="icon2" alt="logo" width="80" height="80"> </div>
                    <div class="inner">
                        <h3>
                            2.17 Danh sách theo Nội dung hiện vật
                        </h3>
                    </div>
                </a>
            </div>
            <!-- ./col end -->
    <!-- col start -->
            <div class="col-lg-4 col-xs-6 itemCate">
                <a class="small-box bg-aqua" routerLink="/bctuybien">
                    <div class="icon"> <img [src]="icon2" alt="logo" width="80" height="80"> </div>
                    <div class="inner">
                        <h3>
                            Báo cáo tùy biến
                        </h3>
                    </div>
                </a>
            </div>
            <!-- ./col end -->
        </div>
        <!-- /.row end -->
    </section>
</div>
