<div class="container">
    <section class="content">
        <!-- /.row start -->
        <div class="row home_dash_box">
            <!-- col start -->
            <!--<div class="col-lg-4 col-xs-6 itemCate">
                <a class="small-box bg-aqua" routerLink="/bcdanhgia">
                    <div class="icon"> <img [src]="icon2" alt="logo" width="80" height="80"> </div>
                    <div class="inner">
                        <h3>
                            2.1 Báo cáo đánh giá hiện vật
                        </h3>
                    </div>
                </a>
            </div>-->
            <!-- ./col end -->
        </div>
        <!-- /.row end -->
    </section>
</div>
