<div>
    <form *ngIf="formResetToggle" class="form-horizontal" name="roleEditorForm" #f="ngForm" novalidate
          (ngSubmit)="f.form.valid ? save() :
          (!roleName.valid && showErrorAlert('Tên nhóm người dùng không được để trống', 'Vui lòng nhập tên nhóm người dùng(2 - 200 ký tự)'));">

        <div class="row">
            <div class="col-sm-12">
                <div class="form-group has-feedback">
                    <label class="control-label col-md-3" for="roleName">Tên nhóm người dùng</label>
                    <div class="col-md-9" [ngClass]="{'has-success': f.submitted && roleName.valid, 'has-error' : f.submitted && !roleName.valid}">
                        <input [disabled]="!canManageRoles" type="text" id="roleName" name="roleName" placeholder="Nhập tên nhóm người dùng" class="form-control" [(ngModel)]="roleEdit.name" #roleName="ngModel" required minlength="2" maxlength="200" />
                        <span *ngIf="showValidationErrors && f.submitted" class="glyphicon form-control-feedback" [ngClass]="{'glyphicon-ok ': roleName.valid, 'glyphicon-remove' : !roleName.valid}"></span>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12">
                <hr class="edit-separator-hr" />
            </div>
        </div>

        <div class="row">
            <div class="col-sm-12">
                <div class="form-group">
                    <label class="control-label col-md-3" for="roleDescription">Mô tả</label>
                    <div class="col-md-9">
                        <input [disabled]="!canManageRoles" type="text" id="roleDescription" name="roleDescription" placeholder="Nhập mô tả" class="form-control" [(ngModel)]="roleEdit.description" />
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12">
                <span *ngIf="showValidationErrors && f.submitted && !roleName.valid" class="errorMessage roleErrorMessage">
                    Vui lòng nhập tên nhóm người dùng
                </span>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12">
                <hr class="edit-separator-hr" />
            </div>
        </div>

        <div class="row">
            <div class="col-md-12">
                <h3 style="font-weight:bold;font-size:14px;">Gán quyền truy cập chức năng</h3>
            </div>
        </div>

        <div class="row">
            <div class="row well permissionsRow">
                <ng-template ngFor let-permissionGroup [ngForOf]="allPermissions | groupBy: 'groupName'" let-i="index">
                    <div class="form-group col-md-2 permissionsColumn">
                        <label class="control-label bold" for="checkboxes" (click)="toggleGroup(permissionGroup.key)">{{permissionGroup.key}}</label>
                        <div class="control">
                            <div class="checkbox" *ngFor="let permission of permissionGroup.value">
                                <label tooltip="{{permission.description}}" for="checkboxes-{{permission.value}}">
                                    <input [disabled]="!canManageRoles" name="checkboxes-{{permission.value}}" id="checkboxes-{{permission.value}}" type="checkbox" [(ngModel)]="selectedValues[permission.value]">
                                    {{permission.name}}
                                </label>
                            </div>
                        </div>
                    </div>
                    <div *ngIf="(i + 1) % 6 === 0" class="clearfix"></div>
                </ng-template>
            </div>

        </div>


        <div class="row">
            <div class="col-md-12">
                <hr class="edit-last-separator-hr" />
            </div>
        </div>


        <div class="form-group">
            <div class="col-sm-5">
                <div *ngIf="canManageRoles" class="pull-left">
                    <a (click)="selectAll()" href="javascript:;" class="btn btn-link">Chọn tất cả</a>|<a (click)="selectNone()" href="javascript:;" class="btn btn-link">Bỏ chọn</a>
                </div>
            </div>

            <div class="col-sm-7">
                <div ngPreserveWhitespaces class="pull-right">
                    <button *ngIf="!canManageRoles" type="button" (click)="cancel()" class="btn btn-default">Đóng lại</button>
                    <button *ngIf="canManageRoles" type="button" (click)="cancel()" class="btn btn-danger" [disabled]="isSaving"><i class='fa fa-times'></i> Hủy bỏ</button>
                    <button *ngIf="canManageRoles" type="submit" class="btn btn-primary" [disabled]="isSaving">
                        <i *ngIf="!isSaving" class='fa fa-save'></i><i *ngIf="isSaving" class='fa fa-circle-o-notch fa-spin'></i> {{isSaving ? "Đang lưu" : "Ghi nhận"}}
                    </button>
                </div>
            </div>
        </div>
        <div class="clearfix"></div>
    </form>
</div>
