<!-- Development content -->
<section class="content">
    <div class="row">
        <div class="col-lg-3 col-xs-6">
            <!-- small box -->
            <div class="small-box bg-teal-gradient">
                <div class="inner">
                    <a routerLink="/diem" class="url-lophoc">
                        <h3>Điểm thi</h3>
                    </a>
                    <p class="text-bold">Quản lý điểm</p>
                </div>
                <div class="icon">
                    <i class="fa"><img src="../../../../wwwroot/images/icon/test.png" class="img-responsive" width="70" /></i>
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-xs-6">
            <!-- small box -->
            <div class="small-box bg-light-blue-gradient">
                <div class="inner">
                    <a routerLink="/lophoc" class="url-lophoc">
                        <h3>Lớp học</h3>
                    </a>
                    <p class="text-bold">Quản lý lớp học</p>
                </div>
                <div class="icon">
                    <i class="fa"><img src="../../../../wwwroot/images/icon/blackboard.png" class="img-responsive" width="70" /></i>
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-xs-6">
            <!-- small box -->
            <div class="small-box bg-aqua-gradient">
                <div class="inner">
                    <a routerLink="/monhoc" class="url-lophoc">
                        <h3>Môn học</h3>
                    </a>
                    <p class="text-bold">Quản lý môn học</p>
                </div>
                <div class="icon">
                    <i class="fa"><img src="../../../../wwwroot/images/icon/archive.png" class="img-responsive" width="70" /></i>
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-xs-6">
            <!-- small box -->
            <div class="small-box bg-green-gradient">
                <div class="inner">
                    <a routerLink="/giangvien" class="url-lophoc">
                        <h3>Giáo viên</h3>
                    </a>
                    <p class="text-bold">Quản lý giáo viên</p>
                </div>
                <div class="icon">
                    <i class="fa"><img src="../../../../wwwroot/images/icon/teacher.png" class="img-responsive" width="70" /></i>
                </div>
            </div>
        </div>
    </div>
</section>